@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Merriweather, sans-serif;
    font-weight: 400;
    color: #616161;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* nav bar at top of page */

.main-nav-link {
    display: inline;
    list-style-type: none;
    float: right;
    line-height: 50px;
    margin-left: 20px;
    font-size: 1.2rem;
}

.contact-us {
    background-color: #ff9933;
    padding: 0 10px;
    border-radius: 5px;
}

.white-text {
    color: white;
}

#home-icon {
    display: inline-block;
    float: left;
}

nav ul a {
    text-decoration: none;
    color: #616161;
}

#nav-bar {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    background-color: yellow;
    display: block;
}

.main-nav-link a:hover {
    text-decoration: underline;
}

/* hero image and main title */

#hero-image-container {
    clear: both;
    height: 500px;
    background-image: url("/assets/images/tomatoes.jpg");
    background-color: #5cd65c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

#main-heading {
    background-color: rgba(92, 214, 92, .5);
    width: 60%;
    display: inline-block;
    margin: 70px auto;
    height: 300px;
    padding: 30px;
}

/* home page about sections */

.text-container {
    margin: 30px;
    background-color: #ff9933;
    text-align: center;
    padding: 20px;
    height: 300px;
}

.image-container {
    width: 60%;
    margin: 0 auto;
}

    /* Footer */

footer {
    height: 50px; 
    background-color: #5cd65c;
    bottom: 0;
    right: 0;
}    

.footer-links {
    text-align: center;
}

.social-media-link {
    display: inline;
    line-height: 50px;
    margin-right: 55px;
    margin-left: 55px;
}

footer i {
    font-size: 1.5rem;
    color: #333333;
}


