@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, sans-serif;
    font-weight: 400;
    color: #555555;
    font-size: 1.1rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
}

/* navigation bar at top of each page */

.nav-bar {
    padding-left: .6rem;
    padding-right: .3rem;
    height: 50px;
    background-color: #abf60e;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.main-nav-link {
    display: inline;
    list-style-type: none;
    float: right;
    line-height: 50px;
    margin-left: .5rem;
}

.contact-us-button {
    background-color: #cc4b00;
    padding: 0 .5rem;
    border-radius: 5px;
}

.white-text {
    color: white;
}

#home-icon {
    display: inline;
    float: left;
    margin-top: 10px;
}

nav ul a {
    text-decoration: none;
    color: #555555;
    font-size: 1.1rem;
}

nav i {
    font-size: 1.6rem;
    line-height: 50px;
    color: #555555;
}

.main-nav-link a:hover {
    text-decoration: underline;
}

/* hero image over green as background to box containing main heading */

.hero-image-container {
    clear: both;
    height: 500px;
    background-color: #5cd65c;
    background-image: url("../images/tomatoes.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.nav-bar-margin {
    margin-top: 50px;
}

/* main heading and tagline on 60% opaque green background overlaying hero image */

.main-heading-container {
    background-color: #157b0a99;
    width: 80%;
    display: inline-block;
    margin: 100px auto;
    height: 300px;
    padding: 1.3rem;
}

.home-main-heading {
    font-size: 2rem;
}

.home-tagline {
    font-size: 1.2rem;
    padding-top: .8rem;
}

/* Who We Are and What We Do sections on home page */

.about-text-container {
    width: 75%;
    margin: 30px auto 20px;
    text-align: center;
}

.about-image-container {
    width: 75%;
    margin: 0 auto;
}

.about-image {
    width: 100%;
    height: auto;
}

.margin-bottom {
    margin-bottom: 50px;
}

.about-text-container ul {
    width: 70%;
    margin: 0 auto;
}

.about-text-container li {
    margin-bottom: 15px;
}

/* footer containing social media links */

footer {
    height: 50px;
    background-color: #abf60e;
    bottom: 0;
    right: 0;
}

.footer-links {
    text-align: center;
}

.social-media-link {
    display: inline;
    line-height: 50px;
    margin: 0 2rem;
}

footer i {
    font-size: 1.5rem;
    color: #555555;
}

/* our story article */

.story-image-container {
    width: 75%;
    margin: 15px auto;
}

.story-text-container {
    width: 75%;
    margin: 30px auto 20px;
}

.story-image {
    width: 100%;
    height: auto;
}

.story-main-heading {
    font-size: 2rem;
}

.padding-top {
    padding-top: 30px;
}

/* subscribe form on contact page */

.contact-main-heading {
    margin-top: 20px;
}

.subscribe-container {
    width: 70%;
    margin: 0 auto;
}

.subscribe-text {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

.form-container {
    width: 90%;
    margin: 0 auto;
}

.form-label {
    display: block;
    margin-top: 10px;
}

.form-input-field {
    border: 1px solid #333333;
    width: 100%;
    max-width: 250px;
}

.form-subscribe-button {
    display: block;
    margin: 20px auto;
    font-size: 1.2rem;
    padding: .5rem;
}

/* visit us section containing map on contact page */

.visit-section {
    margin-bottom: 35px;
}

.map-container {
    margin: 0 auto;
    width: 80%;
}

.visit-us-text {
    margin: 30px auto 20px;
    width: 70%;
}

.opening-hours {
    margin: 30px auto;
}

.opening-hours table {
    table-layout: fixed;
    width: 80%;
    margin: 0 auto;
}

.opening-hours th {
    text-align: left;
}

.map-container iframe {
    width: 100%;
    height: 600px;
}

.visit-us-text p {
    text-align: center;
}

/* confirmation page */

.confirm-container {
    margin: 100px auto 30px;
    width: 70%;
}

.confirm-text {
    text-align: center;
}

.confirm-text h1 {
    font-size: 1.8rem;
}

.confirm-container p {
    margin-top: 20px;
    margin-bottom: 15px;
}

/* media query for very small mobile phone screens of width 279px upwards */

@media screen and (max-width: 329px) {

    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.9rem;
    }

    .about-text-container {
        width: 80%;
    }

    .about-image-container {
        width: 80%;
    }

    .story-text-container {
        width: 80%;
    }

    .story-image-container {
        width: 80%;
    }

    .main-heading-container {
        padding: 1.3rem .8rem;
    }
 
    .confirm-container {
        width: 80%;
        margin: 65px auto 30px;
    }

    .nav-bar {
        height: 40px;
    }

    .contact-us-button {
        height: 40px;
        padding: 0 .2rem;
    }

    .main-nav-link {
        line-height: 40px;
    }

    .nav-bar-margin {
        margin-top: 40px;
    }

    #home-icon {
        margin-top: 7px;
        font-size: .9rem;
    }

    .nav-bar ul a {
        font-size: 1rem;
    }
}

/* media query for small to large mobile phone screens of width 330px to 481px */

@media screen and (min-width: 330px) {

    .nav-bar {
        padding-left: .8rem;
        padding-right: .6rem;
    }

    .main-nav-link {
        margin-left: .6rem;
    }

    .home-main-heading {
        font-size: 2.2rem;
    }

    .social-media-link {
        margin: 0 2.5rem;
    }
}

/* media query for tablet screens of width 481px upwards */

@media screen and (min-width: 481px) {

    .about-text-container {
        width: 70%;
    }

    .about-image-container {
        width: 70%;
    }

    .story-text-container {
        width: 70%;
    }

    .story-image-container {
        width: 70%;
    }

    .main-heading-container {
        width: 70%;
        padding: 1.7rem;
    }

    .home-main-heading {
        font-size: 2.5rem;
    }

    .form-container {
        width: 70%;
    }

    .social-media-link {
        margin: 0 3.4rem;
    }

    .nav-bar {
        padding-left: 1.2rem;
        padding-right: 1rem;
    }

    .main-nav-link {
        margin-left: .8rem;
    }

    .confirm-text h1 {
        font-size: 2rem;
    }

    .opening-hours table {
        width: 70%;
    }

    nav ul a {
        font-size: 1.2rem;
    }
}

/* media query for small to medium laptop screens of width 769px to 1025px */

@media screen and (min-width:769px) {

    .about-text-container {
        width: 60%;
    }

    .about-image-container {
        width: 60%;
    }

    .main-heading-container {
        width: 60%;
    }

    .home-main-heading {
        font-size: 3rem;
    }

    .story-text-container {
        width: 60%;
    }

    .story-image-container {
        width: 60%;
    }

    .form-container {
        width: 50%;
    }

    .confirm-container {
        width: 60%;
    }

    .visit-us-text {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .main-nav-link {
        margin-left: 1rem;
    }

    .social-media-link {
        margin: 0 4rem;
    }

    .about-text-container ul {
        width: 50%;
    }

    .opening-hours table {
        width: 50%;
    }

    .opening-hours h3 {
        font-size: 1.5rem;
    }

    .confirm-text h1 {
        font-size: 2.5rem;
    }

    .visit-section h2 {
        font-size: 2rem;
    }
}

/* media query for large laptop and TV screens of width 1025px upwards */

@media screen and (min-width: 1025px) {

    .social-media-link {
        margin: 0 6rem;
    }

    .home-tagline {
        font-size: 1.5rem;
    }
}